@import "../../styles/mixins";
@import "../../styles/variables";

.from-to-section {
  @include flexStyles(flex, row, space-between, center);
  gap: 20px;
  padding-top: 20px;

  @media screen and (max-width: 768px) {
    @include flexStyles(flex, column, center, center);
    & div {
      width: 100%;
    }
  }
}

.from-to-input {
  &__label {
    @include textStyles(
      "'Inter', sans-serif",
      $fz-12,
      $semiBold,
      100%,
      $main-title,
      left
    );
    display: block;
    margin-bottom: 8px;
  }
}
