@mixin sizes($width, $height) {
  width: $width;
  height: $height;
}

@mixin flexStyles($flex, $flex-direction, $justify-content, $align-items) {
  display: $flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin textStyles(
  $font-family,
  $font-size,
  $font-weight,
  $line-height,
  $color,
  $text-align
) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color;
  text-align: $text-align;
}

@mixin padding($padding-top, $padding-right, $padding-bottom, $padding-left) {
  padding-top: $padding-top;
  padding-right: $padding-right;
  padding-bottom: $padding-bottom;
  padding-left: $padding-left;
}
