// colors
$white: rgba(255, 255, 255, 1);
$black: rgba(255, 255, 255, 0);
$main-title: rgba(10, 10, 10, 1);
$subtitle: rgba(115, 115, 115, 1);

//font-sizes
$fz-12: 12px;
$fz-14: 14px;
$fz-32: 32px;

// font-weights
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
