// colors
$white: rgba(255, 255, 255, 1);
$black: rgba(255, 255, 255, 0);
$error-red: rgba(255, 0, 0, 1);
$main-title: rgba(10, 10, 10, 1);
$subtitle: rgba(115, 115, 115, 1);
$bg-light: rgba(250, 250, 250, 1);
$border-color: rgba(212, 212, 212, 1);
$bg-light-blue: rgba(239, 246, 255, 1);
$border-dark-blue: rgba(81, 162, 255, 1);
$border-light-blue: rgba(190, 219, 255, 1);

//font-sizes
$fz-12: 12px;
$fz-14: 14px;
$fz-16: 16px;
$fz-32: 32px;

// font-weights
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
